{% extends 'layout.html' %}

{% block body %}
	<h2>Dashboard <small>Student List</small></h1>
	<a class="btn btn-success" href="/add_student">Add Student</a>
	<hr>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Birthdate</th>
			<th>Address</th>
			<th>Gender</th>
			<th>Major</th>
			<th></th>
			<th></th>
		</tr>
		{% for student in students %}
			<tr>
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td>{{student.birthdate}}</td>
				<td>{{student.address}}</td>
				<td>{{student.gender}}</td>
				<td>{{student.major}}</td>
				<td><a href="edit_student/{{student.id}}" class="btn btn-info">Edit</td>
				<td>
					<form action="{{url_for('delete_student', id=student.id)}}" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</td>
			</tr>
		{% endfor %}
		
	</table>
{% endblock %}